html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  /*background: radial-gradient(circle, #6a2c2c 0%, #37181f 75%);*/
  background: radial-gradient(circle, #7c312c  0%, #3d2022 65%);
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

.img-top-left {
  margin: 2rem 0 0 0.5rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 15%;
  pointer-events: none;
}

.img-bottom-left {
  margin: 0 0 2rem 0.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15%;
  pointer-events: none;
}

.img-top-right {
  margin: 2rem 0.5rem 0 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 15%;
  pointer-events: none;
}

.img-bottom-right {
  margin: 0.5rem 0 2rem 0;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 15%;
  pointer-events: none;
}

.center-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 80%;
  margin: 0 auto;
}

.page-content {
  padding-right: 5rem;
  flex: 1;
  max-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  overflow: auto;
  position: relative;
}

.page-content-container {
  flex: 1;
  display: flex;
  height: fit-content;
  justify-content: center;
  flex-direction: column;
}

.page-content-center {
  width: 85%;
  margin: 0 auto;
}

.page-content-title {
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 1%;
}

.page-content-text {
  margin-top:0;
  padding-bottom: 1rem;
}

.content-list {
  margin:0;
  /*padding-left: 0.7rem;*/
}

/* Scrollbar style */

div::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

div::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

div::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.3);
	background-color: #555;
}

/* Nav style */

.nav-header {
  font-size: 64px;
  margin: 0;
  text-align: center;
}

.nav {
  width: 200px;
}

.nav-ul {
  margin: 0;
}

.nav-li {
  list-style: none;
  padding: 0.5rem;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

.mobile-nav-container {
  display: none;
}

.menu {
  display: none;
}

.mobile-header {
  display: none;
}

@media screen and (min-width: 1050px) {
  .mobile-nav-container {
    display: none !important;
  }
}

@media screen and (max-width: 1050px) {
  .nav {
    display: none;
  }

  .mobile-header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 56px;
  }

  .mobile-nav-header {
    font-size: 40px;
    margin: 0;
  }

  .page-content {
    padding: 0;
  }

  .menu {
    padding: 1rem 1rem 1rem 1rem;
    margin-left: -1rem;
    display: block;
    z-index: 5;
    position: absolute;
    left: 0;
  }

  .center-page {
    display: block;
  }

  .mobile-nav-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0,0,0,0.8);
  }

  .mobile-nav-container .nav-ul {
    padding-top: 1rem;
  }

  .menu-close {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .page-content-title {
    margin-top: 0.5rem;
  }

  .page-content {
    max-height: calc(100% - 56px);
  }
}