@tailwind base;
@tailwind components;
@tailwind utilities;

.page-content {
  padding: 1rem 0 0 0;
  flex: 1;
  max-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
  position: relative;
}

.center-page {
  padding: 1rem 2rem 2rem 0;
  flex: 1;
  width: 90%;
  margin: 0 auto;
}

.page-content-title {
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 1%;
}

.page-content-text {
  margin-top:0;
  padding-bottom: 1rem;
}

.page-content-list {
  margin:0;
  /*padding-left: 0.7rem;*/
}

.reg-ol {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  justify-content: center;
}