@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100%;
}

body {
  @apply bg-gradient-to-tr from-[#090b15] to-[#242c53];
  color: #C0C0C0;
  font-family: Georgia, 'Times New Roman', Times, serif
}