@tailwind base;
@tailwind components;
@tailwind utilities;

.page-content {
  padding: 2rem 5rem 2rem 0;
  flex: 1;
  max-height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  overflow: auto;
  position: relative;
}

.page-content-container {
  flex: 1;
  display: flex;
  height: fit-content;
  justify-content: center;
  flex-direction: column;
}

.page-content-center {
  width: 85%;
  margin: 0 auto;
}

.page-content-title {
  font-size: 20px;
  font-weight: 800;
  padding-bottom: 1%;
}

.page-content-text {
  margin-top:0;
  padding-bottom: 1rem;
}

.reg-ol {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
}